<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
	<appSettings>
		<!-- 连接字符串 -->
		<!--<add key="ConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|test.mdb"/>-->
		<add key="ConnectionString" value="User ID=root;Database=cky_testbase; Password=134671; Host=localhost; Port= 3306;Protocol=TCP; Compress=false; Pooling=true; Min Pool Size=1;Max Pool Size=100; Connection Lifetime=0;Charset=utf8" />

	</appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>


</configuration>
